[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.11"
httpx = "~=0.27.0"
requests = "~=2.0.0"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.12"
